<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next"></script>
    <title>ToDo List</title>
</head>
<body>
    
    <div id="app">
        <h1>ToDo App</h1>
        <form @submit.prevent="addContents()">
            <label>New ToDo </label>
            <input type="text" v-model="content">
            <button>Add ToDo</button>
        </form>
        
        <h2>ToDo List</h2>
        <ul>
            <li v-for="(todo, index) in todos"> {{ todo.content }} <button @click="removeContents(index)">X</button></li>
            <!-- <li style="text-decoration: line-through;">eat food <button>X</button></li> -->
        </ul>
    </div>
    <script>
        const App = {
            data(){
                return {
                    todos: [],
                    content: ''
                }
            },
            methods: {
                addContents(){
                    this.debug(this.content)
                    if(this.content.length < 1)return; // if length < 1 will not add to list
                    this.todos.push({ // push to 'todos' list
                        content: this.content,
                        done: false
                    })
                    this.content = '' // clear content value
                },
                removeContents(i){
                    this.todos.splice(i, 1)
                    this.debug(`remove todos at -> ${i}`)
                },
                debug(vars){
                    console.log(`dubug: ${vars}`)
                }
            }
        }
        const vue = Vue.createApp(App)
        vue.mount("#app") 
    </script>
</body>
</html>